
.custom-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .player__buttons {
    height: auto;
  }

  .player-img {
    height: 150px;
    margin: 3px;
    min-height: 0;
    width: 150px;
  }

  .player__buttons > * {
    margin: 3px;
  }

  .player__time{
    width: 100%;
  }

  #player-progress {
    cursor: pointer;
    height: 20px;
    margin: auto;
    min-width: 300px;
    width: 80%;
  }
}


