
.custom-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .player__buttons {
    height: auto;
  }

  .player-img {
    height: 150px;
    width: 150px;
  }

}


