@mixin text-truncate($max-lines) {
             display: -webkit-box;
            overflow: hidden;
       text-overflow: ellipsis;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

