
@media (max-width: 768px) {
  .navbar {
    min-height: 100px;
  }
}

.navbar {
  margin-bottom: 0;
  // Buttons in navigation
  .nav li {
    a {
      color: $purple-2;
      &:hover {
        background-color: $purple-2;
        color: white;
        opacity: 0.6;
      }
      &:active {
        background-color: $purple-2;
        color: white;
      }
    }

    &.active a {
      background-color: $purple-2;
      color: white;
      &:hover, &:active {
        opacity: 1;
        color: white;
      }
    }
  }
}