
.bootstrap-typeahead {
  @include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
  }
  flex: 1;
  margin-right: 8px;
}

.bootstrap-typeahead-input {
  input, input:focus {
    @extend .search-bar;
  }
}

.bootstrap-typeahead-menu {
  background-color: white;
  border: 1px solid black;
  margin-top: 5px;
  min-height: 300px;
}

#playlist-slot {
  color: black;
  cursor: pointer;
  height: 125px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  width: 100%;
}
