
.lower-container {
  display: flex;
  flex-grow: 1;
  margin-bottom: 15px;
}

.player {
  padding: 0 !important;

  .resizable-video-container {
    div {
      height: inherit;
      width: inherit;
    }
    iframe {
      height: inherit;
      width: inherit;
    }
  }

  .player__footer {
    text-align: center;
  }
}
