.player {
  padding: 0 !important;

  .player__footer {
    text-align: center;
  }
}

.player-placeholder {
  height: inherit;
  width: 65vw;
}

.player__main {
  height: inherit;
  width: inherit;
}

.resizable-video-container {
  display: inline-table;
  margin: 3px; // Remember to change MARGIN in ResizablePlayerWrapper

  &:hover {
    outline: 2px solid $grey-0;
  }

  #player-video {
    height: inherit;
    width: inherit;
  }

  iframe {
    height: inherit;
    width: inherit;
  }
}

.resizable-video-container-full {
  left: 0;
  margin: 0 !important;
  position: fixed;
}

.resizable-wrapper {
  position:relative;
}

.react-resizable-handle {
  background-origin: content-box;
  background: url('../images/arrow_bottom_right.png') no-repeat bottom right;
  background-size: contain;
  bottom: 0;
  box-sizing: border-box;
  cursor: se-resize;
  float: right;
  height: 20px;
  padding: 0 3px 3px 0;
  right: 0;
  width: 20px;
}