.playlist-wrapper {
  border-left: 2px solid $grey-0;
  width: 100%;
}

.playlist {
  flex: 1 1 auto;
  height: 100%;
  margin-left: 2px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 3px;
}

.playlist-placeholder {
  margin-top: 15px;
}

.base-playlist-video {
  @extend .selectable, .hoverable, .draggable;

  margin-bottom: 5px;
  overflow: hidden;
  padding-top: 5px;

  .playlist-video__title {
    @include text-truncate(2);
    margin-left: 1px;
    padding-left: 3px;
  }

  button {
    z-index: 2;
  }

  .playlist-remove {
    @extend .icon;
    margin-left: 6px;
    vertical-align: middle;
  }
}
.playlist-video {
  @extend .selectable-item, .base-playlist-video;

  .thumbnail {
    margin-top: 4px !important;
  }
}

.playlist-video-mini {
  @extend .selectable-item-mini, .base-playlist-video;

  .thumbnail {
    margin-top: 0 !important;
  }
}