
.lower-container {
  display: flex;
  flex-grow: 1;
  margin-bottom: 15px;
}

.player {
  padding: 0 !important;

  .resizable-video-container {

    border: 1px white solid;
    margin: 3px;

    &:hover {
      border: 2px solid $grey-0;
    }

    #player-video {
      height: inherit;
      width: inherit;
    }

    iframe {
      height: inherit;
      width: inherit;
    }
  }

  .player__footer {
    text-align: center;
  }
}
