
.bootstrap-typeahead {
  @include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
  }
  flex: 1;
  margin-right: 8px;
}

.bootstrap-typeahead-input {
  input, input:focus {
    @extend .search-bar;
  }
}

.bootstrap-typeahead-menu {
  background-color: white;
  border: 1px solid black;
  margin-top: 5px;
  min-height: 300px;

  .playlist-item__title {
    line-height: 2;
  }
}

.base-playlist-slot {
  border: 1.5px solid $purple-2;
  color: black;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  width: 100%;

  img {
    margin-top: 3px;
  }

  .playlist-item, .playlist-item-mini {
    width: 400px;
    .glyphicon-remove {
      font-size: 22px;
      line-height: 2;
    }
  }

}
.playlist-slot {
  @extend .base-playlist-slot;
  height: 145px;

  .thumbnail {
    margin: 10px 5px 5px !important;
  }
}

.playlist-slot-mini {
  @extend .base-playlist-slot;
  height: 105px;

  .renamable, .renamable-selected {
    font-size: 20px;
  }
}
