
.playlist-dropdown {
  @include placeholder {
    color: white;
    font-style:italic;
    font-weight:100;
    left: 10px;
  }
  flex: 1;
  margin-right: 8px;
}

.playlist-dropdown-input {
  @extend .search-bar;
  border-radius: 4px;
  height: 100%;
  text-indent: 8px;
  width: 100%;
}

.playlist-dropdown-menu {
  border-radius: 3px;
  background: whitesmoke;
  padding: 2px 0;
  font-size: 90%;
  position: fixed;
  overflow: auto;
  max-height: 350px;
  width: 95%;
  z-index: 10;
  .playlist-item__title {
    line-height: 2;
  }
}

.base-playlist-slot {
  border: 1.5px solid $purple-2;
  color: black;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  width: 100%;

  img {
    margin-top: 3px;
  }

  .playlist-item, .playlist-item-mini {
    width: 400px;
    .glyphicon-remove {
      font-size: 22px;
      line-height: 2;
    }
  }

}
.playlist-slot {
  @extend .base-playlist-slot;
  height: 145px;

  .thumbnail {
    margin: 10px 5px 5px !important;
  }
}

.playlist-slot-mini {
  @extend .base-playlist-slot;
  height: 105px;

  .renamable, .renamable-selected {
    font-size: 20px;
  }
}
