.playlist{
  flex: 1 1 auto;
  margin-left: 2px;
  overflow: auto;
}

.playlist-video {
  @extend .hoverable, .selectable, .selectable-item;
  height: 130px;
  margin-bottom: 5px;

  .thumbnail {
    height: 120px;
    margin: 5px;
    width: 200px;
  }

  .playlist-video__title {
    @include text-truncate(2);
    margin-left: 1px;
  }

  button {
    z-index: 2;
  }

  .video-remove {
    @extend .remover;
    margin-left: 6px;
    vertical-align: middle;
  }

  &.dragging {
    background-color: $yellow-0;
  }
}