.playlist {
  flex: 1 1 auto;
  margin-left: 2px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.playlist-video {
  @extend .selectable, .selectable-item, .hoverable, .draggable;
  margin-bottom: 5px;

  .thumbnail {
    width: 175px;
  }

  .playlist-video__title {
    @include text-truncate(2);
    margin-left: 1px;
    padding-left: 3px;
  }

  button {
    z-index: 2;
  }

  .playlist-remove {
    @extend .icon;
    margin-left: 6px;
    vertical-align: middle;
  }

}