
.selectable-item {
  display: inline-block;
  height: 120px;
  width: 100%;

  .thumbnail {
    height: 115px;
    margin: 5px;
    float: left;
  }

  .title {
    display: inline;
    font-size: 22px;
  }

  .content {
    display: table;
    height: 100%;
    margin-left: 1px;
  }

}