
.selectable-item {
  display: inline-block;
  height: 140px;
  width: 100%;

  .thumbnail {
    float: left;
    height: 120px;
    margin: 5px;
    width: 175px;
  }

  .title {
    font-size: 19px;
  }

  .content {
    height: 100%;
    margin-left: 1px;
    width: 100%;
  }
}

.selectable-item-mini {
  @extend .selectable-item;
  height: 100px;

  .thumbnail {
    height: 90px;
    width: 140px;
  }

  .title {
    font-size: 17px;
  }
}