.sidebar-playlist {
  bottom: 0;
  min-height: 200px;
  position: fixed;
  right: 50%;
  transform: translate(50%, 100%);
  transition: transform 0.25s ease-in-out;

  &.active {
    transform: translate(50%, 0%);
  }
}

.sidebar-playlist__toggle {
  background-color: $blue-1;
  display: table;
  height: 20px;
  outline: 1px solid $blue-1;
  position: absolute;
  top: -20px;
  width: 100%;

  &:hover {
    opacity: .93;
  }

  i {
    color: white;
    display: table;
    font-size: 21px;
    margin: auto;
    width: 21px;
  }
}

.sidebar-playlist__content {
  background-color: whitesmoke;
  height: 425px;
  overflow-x: hidden;
  overflow-y: scroll;
  outline: 1px solid $blue-1;
  width: 475px;
}

.sidebar-playlist__content .playlist-item {
  @extend .hoverable, .selectable, .draggable, .selectable-item;
  height: 130px;
  margin: 5px;
  padding: 2px;
  width: 98%;

  .sidebar-item__title {
    height: 37.5px;
    width: 420px;

    .renamable {
      @include text-truncate(1);
      display: inline-block;
      font-size: 22px;
      max-width: 420px;
    }

    .renamable-selected {
      font-size: 22px;
    }
  }

  .playlist-remove {
    @extend .remover;
    float: right;
    margin-right: 5px;
  }

  .sidebar-item__thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 3px;
    margin-right: 3px;
  }

  .sidebar-mini-thumbnail {
    display: flex;
    height: 75px;
    margin: 3px;
    width: 20%;

    img {
      flex: 1;
      height: inherit;
      width: inherit;
    }
  }
}