.sidebar-playlist {
  height: 50%;
  min-height: 200px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  transition: transform 0.25s ease-in-out;

  &.active {
    transform: translate(0%, -50%);
  }
}

.sidebar-playlist-toggle {
  background-color: $blue-1;
  display: table;
  height: 100%;
  left: -25px;
  position: absolute;
  width: 25px;

  &:hover {
    opacity: .93;
  }

  i {
    color: white;
    display: table-cell;
    font-size: 21px;
    vertical-align: middle;
  }
}

.sidebar-playlist-content {
  background-color: whitesmoke;
  border: 1px solid $blue-1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 500px;
}

.sidebar-playlist-content .playlist-item {
  @extend .hoverable, .selectable, .draggable, .selectable-item;
  height: 130px;
  margin: 5px;
  padding: 2px;
  width: 98%;

  .sidebar-item__title {
    height: 37.5px;
    width: 420px;

    .renamable {
      @include text-truncate(1);
      display: inline-block;
      font-size: 22px;
      max-width: 420px;
    }

    .renamable-selected {
      font-size: 22px;
    }
  }

  .playlist-remove {
    @extend .remover;
    float: right;
    margin-right: 5px;
  }

  .sidebar-item__thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 3px;
    margin-right: 3px;
  }

  .sidebar-mini-thumbnail {
    display: flex;
    height: 75px;
    margin: 3px;
    width: 20%;

    img {
      flex: 1;
      height: inherit;
      width: inherit;
    }
  }
}