
.video-container {
  display: flex;
  flex-grow: 1;
  margin-bottom: 15px;
}

.player {
  padding: 0 !important;
}

.playlist{
  border: 1px solid;
  flex: 1 1 auto;
  margin-left: 2px;
  min-width: 250px;
  overflow: auto;
}

#player-video {
  height: inherit;
  width: inherit;
}

.playlist-video {
  height: 110px;
  margin-bottom: 5px;

  .thumbnail {
    height: 100px;
    float:left;
    margin-bottom: 0;
  }

  .playlist-video-info {
    margin-left: 2px;
  }

  button {
    z-index: 2;
  }

  &.active {
    background-color: $purple-0;
  }

  &.dragging {
    background-color: $yellow-0;
  }

  &:hover{
    background-color: $purple-0;
  }

}
