@import
  'utilities/_colors.scss',
  'app',
  'importbar',
  'navbar',
  'player',
  'sidebar'
;

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

h1 {
  font-family: helvetica;
  font-weight: 200;
}

@media (min-width: 1200px) {
  .container{
    width: 1050px;
  }
}


@media (max-height: 500px) {
  .height-collapse {
    display: none;
  }
}

@media (max-height: 450px) {
  .height-collapse-small {
    display: none;
  }
}

@media(max-width: 700px) {
  .width-collapse {
    display: none;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.icon-btn {
  background-color: whitesmoke;
  border: 1px solid $blue-1;
  &:hover {
    background-color: $yellow-0;
    color: black;
    opacity: 0.7;
  }
}

.hoverable {
  &:hover{
    background-color: $purple-0;
  }
}

.selectable {
  &.active {
    background-color: $purple-0;
  }
}